    <div class="ui vertical inverted sidebar menu">
      <a class="item" href="/">Home</a>
      <a class="item" href="https://discord.gg/BheKAZb"><i class="comment outline icon"></i> Discord chat</a>
      <a class="item" href="team.html"><i class="users icon"></i> Team</a>
      <a class="item" href="roadmap.html"><i class="road icon"></i> Roadmap</a>
      <a class="item" href="https://medium.com/the-quantum-resistant-ledger" target="_blank"><i class="medium icon"></i> Blog</a>
      <a class="item" href="https://twitter.com/qrledger" target="_blank"><i class="twitter icon"></i> Twitter</a>
      <a class="item" href="https://reddit.com/r/qrl" target="_blank"><i class="reddit alien icon"></i> Reddit</a>
      <a class="item" href="https://github.com/theQRL/Whitepaper/blob/master/QRL_whitepaper.pdf"><i class="gb flag"></i> White paper</a>
      <a class="item" href="https://github.com/theQRL/Whitepaper/blob/master/QRL_Whitepaper_Japanese.pdf" target="_blank"><i class="japan flag"></i> White paper</a>
      <a class="item" href="https://github.com/theQRL"><i class="github icon" aria-hidden="true"></i> Github</a>
    </div>
